package components

templ Footer() {
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/static/css/components/footer.css"/>
	</head>
	<body>
		<footer class="site-footer">
			<div class="container">
				<p class="footer-text">
					&copy; 2025 Simple Footer. All Rights Reserved.
					<a href="/privacy-policy">Privacy Policy</a>
				</p>
			</div>
		</footer>
	</body>
}
