body { 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background: linear-gradient(135deg, #9b59b6, #71b7e6,#e094fc , #3698da);
    background-size: 400% 400%; 
    animation: gradientShift 10s ease infinite; 

}
@keyframes gradientShift {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}


.swapConnectionRoom {
   
    background-color: #E8FAF9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}


.swapConnectionRoom label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.swapConnectionRoom input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    background-color: #E8FAF9;
    border: 1px solid #BBADDB;
    border-radius: 6px;
}

.swapConnectionRoom button.btn {
    width: 100%;
    padding: 10px;
    background-color: #9564BC;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.swapConnectionRoom button.btn:hover {
    background-color: #0056b3;
}

.message {
    opacity: 0; /* Початково невидимий */
    animation: fadeIn2 3s ease-in-out forwards; 
    margin-top: 16px;
    color: red;
    text-align: center;
}
@keyframes fadeIn2 {
    from {
        opacity: 1; /* Початок з нульової прозорості */
    }
    to {
        opacity: 0; /* Кінцево повністю видимий */
    }
}