@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  background-attachment: fixed;
  padding-top: 60px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);

}

.quiz-container {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 350px;
  padding: 15px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.quiz-question {
  color: #333333;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  opacity: 0;
  animation: fadein3 0.5s ease-in-out forwards;
}

@keyframes fadein3 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.quiz-image {
  display: block;
  max-width: 100%;
  max-height: 200px;
  margin: 15px auto;
  border-radius: 8px;
  object-fit: contain;
  opacity: 0;
  animation: fadein2 0.5s ease-in-out forwards;
}

@keyframes fadein2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.quiz-form {
  margin-top: 20px;
  opacity: 0;
  animation: fadein 0.5s ease-in-out forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.quiz-option {
  margin-bottom: 15px;
}

.quiz-option input[type=radio] {
  display: none;
}

.quiz-option label {
  display: block;
  font-weight: 400;
  font-size: 1em;
  padding: 8px 15px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s, color 0.3s;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.quiz-option label:hover {
  background: #f0f0f0;
  border-color: #bbb;
}

.quiz-option input[type=radio]:checked+label {
  background: #accb3c;
  border-color: #accb3c;
  color: #ffffff;
}



.quiz-option input[type=radio]:checked+label:hover {
  background: #accb3c;
}

.quiz-submit {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 15px;
  background-color: #9564BC;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.quiz-submit:hover {
  background-color: #7c51a1;
}